.inline-buttons
{
    display:flex;

}
.center
{

    width:30%;
    padding:50px;
    background-color:white;
    margin:  auto;
    margin-top: 10%;
    margin-bottom: 10%;
    max-width:600px;
    min-width:420px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);
   

}

