.styled-input
{
   font-size:25px;
   border-radius:10px;
   margin-top: 15px;
   margin-bottom: 15px;
   outline: none;
   min-width: 300px;
   max-width:500px;
   border: 2px solid black;
   padding-left:10px;
}